# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
#Carga de los 3 csv
import pandas as pd
url="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df=pd.read_csv(url)

url2="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
df2=pd.read_csv(url2)

url3="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df3=pd.read_csv(url3)

In [2]:
#Cheque csv1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [3]:
#Chequeo csv2
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

In [4]:
#Chequeo csv3
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   7070 non-null   object
 1   State                      7070 non-null   object
 2   Customer Lifetime Value    7070 non-null   float64
 3   Education                  7070 non-null   object
 4   Gender                     7070 non-null   object
 5   Income                     7070 non-null   int64
 6   Monthly Premium Auto       7070 non-null   int64
 7   Number of Open Complaints  7070 non-null   int64
 8   Policy Type                7070 non-null   object
 9   Total Claim Amount         7070 non-null   float64
 10  Vehicle Class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB

In [5]:
print("Columnas primer dataframe:\n", df.columns)
print("\n Columnas segundo dataframe:\n", df2.columns)
print("\n Columnas tercer dataframe:\n", df3.columns)

Columnas primer dataframe:
 Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

 Columnas segundo dataframe:
 Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

 Columnas tercer dataframe:
 Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [6]:
#Creacion estandarizar columnas:

def estandarizar_columnas(df):
    """
    Renombra las columnas de un DataFrame para eliminar espacios en blanco, 
    poner en minúsculas y reemplazar espacios por guiones bajos.
    """
    df = df.rename(columns={col: col.strip().replace(" ", "_").lower() for col in df.columns})
    return df

# Aplicar la función a los DataFrames
df = estandarizar_columnas(df)
df2 = estandarizar_columnas(df2)
df3 = estandarizar_columnas(df3)

In [7]:
df.rename(columns={"st":"state"},inplace=True)
df2.rename(columns={"st":"state"},inplace=True)

In [8]:
#Crear funcion para limpiar datos

def clean_data(df):
    # Eliminar el símbolo de porcentaje en "customer_lifetime_value" y convertir a float
    if 'customer_lifetime_value' in df.columns:
        df["customer_lifetime_value"] = df["customer_lifetime_value"].str.replace('%', '', regex=False)
        df["customer_lifetime_value"] = df["customer_lifetime_value"].astype(float)
    
    # Separar "number_of_open_complaints" después del '/' y convertir a numérico
    if 'number_of_open_complaints' in df.columns:
        df["number_of_open_complaints"] = df["number_of_open_complaints"].str.split('/').str[1]
        df["number_of_open_complaints"] = pd.to_numeric(df["number_of_open_complaints"], errors='coerce')
    
    return df

# Aplicar la función a los DataFrames
df = clean_data(df)
df2 = clean_data(df2)

In [9]:
#Concatenar dataframes
df_total = pd.concat([df, df2, df3], axis=0)

In [10]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9130 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   float64
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(5), object(6)
memory usage: 1.1+ MB

In [11]:
#Reemplazando para que no queden datos distintos
df_total["gender"] = df_total["gender"].replace({'Male': 'M', 'Femal': 'F', 'female': 'F'})
df_total["state"] = df_total["state"].replace({'AZ': 'Arizona', 'WA': 'Washington', 'Cali': 'California'})
df_total["education"] = df_total["education"].replace({'Bachelors': 'Bachelor'})
df_total["vehicle_class"] = df_total["vehicle_class"].replace({'Sports Car': 'Luxury','Luxury Suv':'Luxury','Luxury Car' : 'Luxury'})

In [12]:
#Borrar todos las filas que son todas nulas
df_total.dropna(how="all", inplace=True)

In [13]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9137 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9130 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   float64
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(5), object(6)
memory usage: 856.6+ KB

In [14]:
#Rellenar gender por unknown
df_total["gender"].fillna("Unknown",inplace=True)

C:\Users\est_c\AppData\Local\Temp\ipykernel_15688\807475295.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_total["gender"].fillna("Unknown",inplace=True)

In [15]:
#Rellenar customer lifetime value con media
df_total["customer_lifetime_value"].fillna(df_total["customer_lifetime_value"].mean(), inplace=True)

C:\Users\est_c\AppData\Local\Temp\ipykernel_15688\3400562190.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_total["customer_lifetime_value"].fillna(df_total["customer_lifetime_value"].mean(), inplace=True)

In [16]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9137 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9137 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9137 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   float64
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(5), object(6)
memory usage: 856.6+ KB

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [17]:
url4="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df4=pd.read_csv(url4)

In [18]:
pd.set_option('display.max_columns', None)
df4.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.000000,52,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.000000,26,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.000000,31,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.000000,3,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.149071,31,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [19]:
df4 = df4.drop('unnamed:_0', axis=1)

In [20]:
df4.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type', 'month'],
      dtype='object')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [21]:
#1
nuevatabla = df4.pivot_table(values='total_claim_amount',index='sales_channel', aggfunc='sum')

# Redondear los valores a 2 decimales
nuevatabla = nuevatabla.round(2)

# Ordenar la tabla en orden descendente para ver el canal con más ingresos en la parte superior
nuevatabla = nuevatabla.sort_values(by='total_claim_amount', ascending=False)

# Mostrar el resultado
print(nuevatabla)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [22]:
#2
# Crear la tabla dinámica con el promedio de customer_lifetime_value por género y nivel educativo
nuevatabla2 = df4.pivot_table(values='customer_lifetime_value',index='gender',columns='education',aggfunc='mean')

# Redondear los valores a 2 decimales para facilitar la interpretación
nuevatabla2 = nuevatabla2.round(2)

# Mostrar el resultado
print(nuevatabla2)

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [23]:
# Your code goes here